{% extends 'homebase.html.twig' %}

{% block title %}{{setting[0].title}}{% endblock %}
{% block keywords %}{{setting[0].keywords}}{% endblock %}
{% block description %}{{setting[0].description}}{% endblock %}
{% block slider %}{% include ('home/slider.html.twig')  %}{% endblock %}
{% block body %}

    <!-- Intro -->

    <div class="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <br>
                    <div class="intro_image text-lg-right text-center"><img src="{{ asset ('assets') }}/images/im.png" alt=""></div>
                </div>
                <div class="col-lg-6">
                    <div class="intro_content">
                        <div class="intro_title_container">
                            <div class="intro_subtitle">take a look at our</div>
                            <h1 class="intro_title">Hedeflerimiz</h1>
                        </div>
                        <div class="intro_text">
                            <p>Bu Kanunun amacı; muhtaç durumda bulunan vatandaşlar ile gerektiğinde her ne suretle olursa olsun Türkiye'ye kabul edilmiş veya gelmiş olan kişilere yardım etmek, sosyal adaleti pekiştirici tedbirler alarak gelir dağılımının adilane bir şekilde tevzi edilmesini sağlamak, sosyal yardımlaşma ve dayanışmayı teşvik etmektir.
                                Fakrü zaruret içinde ve muhtaç durumda bulunan kanunla kurulu sosyal güvenlik kuruluşlarına tabi olmayan ve bu kuruluşlardan aylık ve gelir almayan vatandaşlar ile geçici olarak küçük bir yardım veya eğitim ve öğretim imkanı sağlanması halinde topluma faydalı hale getirilecek, üretken duruma geçirilebilecek kişiler bu Kanun kapsamı içindedir.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Services -->

    <div class="services">
        <div class="container">
            <div class="row">
                <div class="col">
                    <!-- Testimonials Slider -->

                    <div class="services_slider_container">
                        <div class="owl-carousel owl-theme services_slider">
                            {% for rs in announcements %}
                            <!-- Services Item -->
                            <div class="owl-item">
                                <div class="services_item d-flex flex-column align-items-center justify-content-center">
                                    <div class="services_item_bg"></div>
                                    <div class="services_icon"><img class="svg" src="{{ asset ('uploads/images/' ~rs.image) }}" alt=""></div>
                                    <div class="services_title">{{rs.title}}</div>
                                    <p class="services_text">{{ rs.description }}</p>
                                    <div class="services_link"><a href="{{ path('duyuru_show',{'id': rs.id}) }}">Read More</a></div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>

                        <div class="services_nav services_prev d-flex flex-column align-items-center justify-content-center"><img src="{{ asset ('assets') }}/images/arrow_l.png" alt=""></div>
                        <div class="services_nav services_next d-flex flex-column align-items-center justify-content-center"><img src="{{ asset ('assets') }}/images/arrow_r.png" alt=""></div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Info -->

    <div class="info">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section_title_container text-center">
                        <div class="section_subtitle">take a look at our</div>
                        <div class="section_title">İyilik Bulaşıcıdır</div>
                    </div>
                </div>
            </div>
            <div class="row info_row">

                <!-- Info Item -->
                <div class="col-lg-4 info_col">
                    <div class="info_item text-center">
                        <div class="info_image"><img src="{{ asset ('assets') }}/images/info.png" alt=""></div>
                        <div class="info_title">İzne Tabii İşlemler</div>
                        <div class="info_text">
                            <p>Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı 1500'lerden beri endüstri standardı sahte metinler olarak kullanılmıştır.</div>
                    </div>
                </div>

                <!-- Info Item -->
                <div class="col-lg-4 info_col">
                    <div class="info_item text-center">
                        <div class="info_image"><img src="{{ asset ('assets') }}/images/info.png" alt=""></div>
                        <div class="info_title">Online İşlemler</div>
                        <div class="info_text">
                            <p>Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı 1500'lerden beri endüstri standardı sahte metinler olarak kullanılmıştır.</div>
                    </div>
                </div>

                <!-- Info Item -->
                <div class="col-lg-4 info_col">
                    <div class="info_item text-center">
                        <div class="info_image"><img src="{{ asset ('assets') }}/images/info.png" alt=""></div>
                        <div class="info_title">Yardım Toplama</div>
                        <div class="info_text">
                            <p>Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı 1500'lerden beri endüstri standardı sahte metinler olarak kullanılmıştır.
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
