<!-- Home -->

<div class="home">
    <div class="home_slider_container">

        <!-- Home Slider -->
        <br><br><br>
        <div class="owl-carousel owl-theme home_slider">
            {
            {%  for rs in slider %}
                <!-- Slider Item -->
                <div class="owl-item">
                    <div class="slider_background" style="background-image:url({{ asset('uploads/images/'~ rs.image) }})"></div>
                    <div class="home_slider_content text-center">
                        <h1>{{rs.title}}</h1>
                        <div class="home_slider_text">{{rs.description}}</div>
                        <div class="link_button home_slider_button"><a href="{{ path('duyuru_show',{'id': rs.id})}}">read more</a></div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="home_slider_nav home_slider_prev d-flex flex-column align-items-center justify-content-center"><img src="{{ asset ('assets') }}/images/arrow_l.png" alt=""></div>
        <div class="home_slider_nav home_slider_next d-flex flex-column align-items-center justify-content-center"><img src="{{ asset ('assets') }}/images/arrow_r.png" alt=""></div>
    </div>
</div>