{% extends 'homebase.html.twig' %}

{% block title %}Duyuru index{% endblock %}

{% block body %}
    <script language="JavaScript" type="text/javascript">
        function openWin( windowURL, windowName, windowFeatures) { window.open( windowURL, windowName, windowFeatures);
        }
    </script>
    <br><br><br><br><br><br><br><br><br><br>
    {{ include ('user/usermenu.html.twig') }}
    <div class="container">
        <div>
            <div class="col">
                <div class="section_title_container text-center">
                    <div class="section_subtitle"></div>
                    <div class="section_title">User Announcement List</div>
                </div>
            </div>
        </div>

        <div class="row news_row">
            <div class="news_item">
                <div class="news_content">
                    <div class="news_title" style="text-align: center"></div>
                    <div class="news_text">

                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">


                            <a href="{{ path('user_duyuru_new') }}" class="btn btn-outline-primary">Create New Announcement</a>
                            <br><br>
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>Image</th>
                                    <th>Gallery</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for duyuru in duyurus %}
                                    <tr>
                                        <td>{{ duyuru.id }}</td>
                                        <td>{{ duyuru.title }}</td>
                                        <td>{{  duyuru.description }}</td>
                                        <td><img src="{{ asset('uploads/images/'~ duyuru.image) }}" style="height: 30px"></td>
                                        <td>
                                            <a href="javascript:openWin('{{ path('user_image_new',{'id':duyuru.id}) }}','','toolbar=no,location=no,directories=0,status=no,top=50,left=100,menuBar=no,scrollBars=yes,resizable=no,width=900,height=600');">
                                                <img src="{{ asset('assets/admin/assets/img') }}/gallery.png" style="height: 30px">
                                            </a>
                                        </td>
                                        <td>{{ duyuru.status }}</td>
                                        <td>
                                            <a href="{{ path('user_duyuru_show', {'id': duyuru.id}) }}" class="btn btn-primary btn-block">Show</a>
                                        </td>
                                        <td>
                                            <a href="{{ path('user_duyuru_edit', {'id': duyuru.id}) }}" class="btn btn-success">Edit</a>
                                        </td>
                                        <td>
                                            {{ include ('duyuru/_delete_form.html.twig') }}
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="11">no records found</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <br><br>
    </div>
{% endblock %}
