{% extends 'adminbase.html.twig' %}

{% block title %}Category List{% endblock %}

{% block body %}
<!-- ============================================================== -->
<!-- wrapper  -->
<!-- ============================================================== -->
<div class="dashboard-wrapper">
    <div class="container-fluid dashboard-content">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h1>Category List Table</h1>

                <a href="{{ path('category_new') }}" class="btn btn-outline-primary">Create New Category</a>

                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Parentid</th>
                        <th>Title</th>
                        <th>Status</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for category in categories %}
                        <tr>
                            <td>{{ category.id }}</td>
                            <td>{{ category.parentid }}</td>
                            <td>{{ category.title }}</td>
                            <td>{{ category.status }}</td>
                            <td>
                                <a href="{{ path('category_show', {'id': category.id}) }}" class="btn btn-primary btn-block">Show</a>
                            </td>
                            <td>
                                <a href="{{ path('category_edit', {'id': category.id}) }}" class="btn btn-success">Edit</a>
                            </td>
                            <td>
                                {{ include ('admin/category/_delete_form.html.twig') }}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="10">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
    {% endblock %}
